<%= link_to "Back to admin panel", admin_users_path %><br/>
<h2>
<%= @user.firstname %> <%= @user.lastname %> - <%= @user.email %> (<%= link_to "edit", edit_admin_user_path(@user) %>, <%= link_to "delete", admin_user_path(@user), method: :delete, confirm: "You sure?" %>)
</h2>
<h3>Created At: <%= formatted_datetime(@user.created_at) %></h3>
<h3>Updated At: <%= formatted_datetime(@user.updated_at) %></h3>
<% if @user.if_admin == true %>
  <p>Is an admin role</p>
<% else %>
  <p>Not an admin role</p>
<% end %>